<table>
  <tr>
    Select Images to upload
  </tr>
  <tr>
     <input
        #fileInput
        type="file"
        multiple
        (change)="imagesSelected($event.target)"
    >
  </tr>

  <tr>
      <button mat-button color="accent" (click)="upload()">
        Upload
      </button>
  </tr>
</table>

<h3 style="color: {{ status.color }}">Status: {{ status.text }}</h3>

<table>
  <td *ngFor="let data of img_data">
    <img src="{{ data }}" width="250" height="250">
  </td>
</table>
<button mat-button color="accent" (click)="loadRandomImages()">
  Randomize Images
</button>