[package]
name = "tsc_compile"
version = "0.6.2"
authors = ["ChiselStrike"]
edition = "2021"

[dependencies]
anyhow = "1.0"
deno_core = "0.114.0"
itertools = "0.10.1"
ureq = "2.4.0"
url = "2.2.2"
v8 = "0.36.0"

[dev-dependencies]
tempfile = "3.2.0"

[build-dependencies]
anyhow = "1.0"
deno_core = "0.114.0"
third_party = { path = "../third_party" }

[lib]
name = "tsc_compile"
