[package]
name = "tsc_compile"
version = "0.7.0-dev.0"
authors = ["ChiselStrike"]
edition = "2021"

[dependencies]
anyhow = "1.0"
deno_core = "0.116.0"
itertools = "0.10.1"
ureq = "2.4.0"
url = "2.2.2"
v8 = "0.38.1"

[dev-dependencies]
tempfile = "3.2.0"

[build-dependencies]
anyhow = "1.0"
deno_core = "0.116.0"
third_party = { path = "../third_party" }

[lib]
name = "tsc_compile"
