[package]
name = "tsc_compile"
version = "0.7.0"
authors = ["ChiselStrike"]
edition = "2021"

[dependencies]
deno_core = { path = "../third_party/deno/core" }
deno_graph = "0.22.0"
reqwest = { version = "=0.11.7", features = ["rustls-tls"], default-features = false } # strict = because of https://github.com/seanmonstar/reqwest/issues/1403

[dev-dependencies]
console = "0.15.0"
tempfile = "3.2.0"
tokio = { version = "1.11.0", features = ["rt-multi-thread", "macros"] }

[package.metadata.cargo-udeps.ignore]
# Used only to update the submodules
build = ["third_party"]

[build-dependencies]
deno_core = { path = "../third_party/deno/core" }
third_party = { path = "../third_party" }

[lib]
name = "tsc_compile"
